.card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
}
.alert-danger {
    position: relative;
}

.alert-danger mat-icon {
    background-color: var(--danger);
    color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: -10px; 
    right: -10px; 
    cursor: pointer;
}
