.card {
    width: 100%;
    height: auto;
    border-style: none;
    border-radius: 1vh;
    background-color: var(--background-v2);

}

.mapContainer {
    height: 35vh;
    border-radius: 5%;
}

.mapThreejs {
    width: 100%;
    height: 90%;
}

h1 {
    margin: 0;
}

.card-body {
    position: absolute; /* Posiciona el texto sobre la imagen */
    top: var(--m1); /* Ajusta la posición desde la parte superior */
    left: var(--m1); /* Ajusta la posición desde la parte izquierda */
    color: #000; /* Color del texto */
    font-size: 2rem; /* Tamaño de la fuente */
    font-weight: bold; /* Hace el texto en negrita */
    padding: 10%; /* Añade algo de espacio alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
}

.card-img-top {
    width: 100%; 
    height: 100%;      
    z-index: 1;
}

.card-img {
    position: absolute;
    z-index: 0;
}

.card-title{
    font-weight: bold;
}

.crashed-player {
    color: #ff914d;
}

.card-body-alert {
    padding: 5%; /* Añade algo de espacio alrededor del texto */
    background-color: var(--green-flag);
    color: white;
    border-radius: 5px;
    width: 50%;
}

.icons-size {
    width: 25px;
    height: 20px;
}
