.card {
    background-color: var(--background);
    width: 100%;
    height: 45vh;
}

h1 {
    margin: 0;
}

.card-body {
    position: absolute; /* Posiciona el texto sobre la imagen */
    top: var(--m1); /* Ajusta la posición desde la parte superior */
    left: var(--m3); /* Ajusta la posición desde la parte izquierda */
    color: #000; /* Color del texto */
    font-size: 2rem; /* Tamaño de la fuente */
    font-weight: bold; /* Hace el texto en negrita */
    padding: 5px 10px; /* Añade algo de espacio alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
}

.card-img-top {
    width: 100%; 
    height: 100%;      
    z-index: 1;
}

.card-img {
    position: absolute;
    z-index: 0;
}