.container-home {
    display: grid;
    grid-template-columns: 15vh 2fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "sidebar header header"
        "sidebar content content"
        "footer footer footer";
}
.header { 
    grid-area: header;
    background: var(--background);
}
.sidebar { 
    grid-area: sidebar;
    background: var(--dashboard);
}

.live-stats {
    border-radius: 15%;
    border-width: 0px;
    background-color: var(--background);
    border-style: none;
}

.card {
    background-color: var(--background);
    border: none;
}

.content {
    grid-area: content;
}

.footer { 
    grid-area: footer;
    background: lightgray;
}


.card-title {
    font-weight: bold;
}

.zoneOfControl-card {
    background-color: var(--background-v2);
    border-style: none;
}


.accent {
    color: var(--primary-v2);
}

.card-text {
    font-size: large;
    font-weight: 500;
}


.zoneOfControl {
    background-color: var(--background-v2);
}
