<app-header class="header"/>
<div class="fluid-container">

    <!-- ZONE OF CONTROL -->
    <section class="pb-5">
        <div class="container mt-y">
            <div class="row justify-content-center" >
                <!-- Live Map -->
                <div class="col-md-5">
                    <div class="">
                        <app-live-map/>
                    </div>               
                </div>
            </div>
            <div class="row g-3 justify-content-center ">
                <!-- Columna para Pilots -->
                <div class="col-md-6 col-12 ">
                    <div class="">
                        <app-live-leaderboard/>
                    </div>
                </div>
                <!-- Alerts -->
                <div class="col-md-4 col-12">
                    <div class="live-stats ">
                        <app-alerts [alertId]="2"/>
                    </div> 
                </div>
            </div>
        </div>
    </section>

</div>
<div class="footer"> <app-footer/> </div>
