<div class="wrapper">
    <div class="logo mt-3 m-1">
       <img class="logo-img" src="images/Logo.png" alt="" srcset="">
    </div>
    <div class="menu">
        <nav>
            <div class="menu-item mt-3">
                <mat-icon routerLink="/home" routerLinkActive="active">dashboard</mat-icon>
            </div>
            <div routerLink="/statistics" routerLinkActive="active" class="menu-item mt-3">
                <mat-icon>bar_chart</mat-icon>
            </div>
            <div routerLink="/cars" routerLinkActive="active" class="menu-item mt-3">
                <mat-icon>warehouse</mat-icon>
            </div>
        </nav>
    </div>
</div>
