/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    --primary: #27B2D9; 
    --secondary: #8ADCF3; 
    --accent: #3CCFF8; 
    --dashboard: #D6F2FB;
    --background: #EFF8FB; 
    --black: #000000; 
    --shadows: #000000de;
    --shadows-v2: #ffffff; 
    --white: #FFFFFF; 
    --danger: rgba(165, 7, 7, 0.877); 
    
    --m1: 0.25rem;
    --m2: 0.5rem; 
    --m3: 1rem; 
    --m4: 1.5rem; 
    --m5: 3rem; 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1 {
    margin: 0px;
}

.bold {
    font-weight: bold;
}
