/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: var(--background);
    --primary: #27B2D9; 
    --primary-v2: #2765d9; 
    --secondary: #8ADCF3; 
    --accent: #3CCFF8; 
    --dashboard: #D6F2FB;
    --background: #EDF5F5; 
    --background-v2: #ffffff; 
    --background-v3: #EDF5F5; 
    --black: #000000; 
    --shadows: #000000de;
    --shadows-v2: #ffffff; 
    --white: #FFFFFF; 
    --danger: rgba(165, 7, 7, 0.877); 

    --m1: 0.25rem;
    --m2: 0.5rem; 
    --m3: 1rem; 
    --m4: 1.5rem; 
    --m5: 3rem; 
    
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1 {
    margin: 0px;
    font-size: 4.210rem; 
}
h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem;} 

.bold {
    font-weight: bold;
}

.btn-primary{
    background-color: var(--primary);
}